/* The new-tweet section */
.new-tweet {
  width:90%;
  margin:10px auto;  
  font-weight: bold;
}

/* Textarea transparent, full width, with bottom-border */
.new-tweet textarea {
  display:block;
  width:100%;
  border:none;
  border-bottom:3px solid gray;
  background-color: transparent;
  margin:20px 0px;
}

/* The button and the counter use the Bungee font */
.new-tweet button, .new-tweet .counter {
  font-family: 'Bungee', sans-serif;
}

.new-tweet button {
  background: var(--blue);
  color: var(--white);
}

/* Right-aligned counter */
.new-tweet .counter {
  float:right;
}